/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $fontFamily;
    font-weight: $normalWeight;
    color: $fontColor;
}

#headerWrapper {
    background-color: antiquewhite;
    color: $secondarycolor;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 1rem $gutter;
    gap: 8px;

    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $normalWeight;
    }
}

#navWrapper {
    background-color: $primarycolor;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            flex: 1;
        }
    }

    li.active {
        background-color: darken($primarycolor, 25%);
    }

    a {
        display: block;
        padding: 0.75rem;
        color: white;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: lighten($primarycolor, 10%);
        }
    }
}


// begin footer
#footerWrapper {
    padding: 0.5rem $gutter;
    background-color: antiquewhite;
    color: $secondarycolor;
    p{
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}